@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;

}


@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */

    --background: 0 0% 95%;
    --foreground: 0 0% 8%;

    --muted: 243 10% 91.3%;
    --muted-foreground: 243 5% 41.3%;

    --popover: 243 10% 91.3%;
    --popover-foreground: 243 10% 0.65%;

    --card: 243 10% 91.3%;
    --card-foreground: 243 10% 0.65%;

    --border: 243 15% 89.52%;
    --input: 243 15% 89.52%;

    --primary: 297 38% 67%;
    --primary-foreground: 243 2% 91.3%;

    --secondary: 14 100% 64%;
    --secondary-foreground: 243 7% 11.3%;

    --accent: 243 5% 95.65%;
    --accent-foreground: 243 7% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 100% 13%;

    --radius: 0.5rem;
  }


}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* html *::-webkit-scrollbar {
  border-radius: 0;
  width: 4px;
  height: 6px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsl(var(--muted-foreground));
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--bg-dark-theme);
} */

.bg-header {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.35));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  /* box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.37); */
}

.text-gradient {
  background: linear-gradient(90deg, #C88ACB, #FF7249);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.back-gradient{
  background: linear-gradient(90deg, #C88ACB, #FF7249);
}


.bg-glass {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.02));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
}

.button-gradient {
  background: linear-gradient(135deg, #FF7249, #C88ACB);


}

@keyframes move-left-to-right {
  0% {
    transform: translateX(-30%);
  }

  50% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(-30%);
  }
}

.move-left-to-right {
  display: inline-block;
  animation: move-left-to-right 10s linear infinite;
}


 
.floating-box-animation {

  animation: floatAnimation 3s infinite;
}

.floating-box-animation-delay {

  animation: floatAnimation 3s infinite;
  animation-delay: 1.5s;
}
@keyframes floatAnimation {
  0% {
    transform: translate(-50%,0);
  }
  50% {
    transform: translate(-50%,-40px);
  }
  100% {
    transform: translate(-50%,0);
  }
}


.floating-box-animation-y {

  animation: floatAnimationY 3s infinite;
  animation-delay: 1.5s;

}
@keyframes floatAnimationY {
  0% {
    transform: translateY(0);
    rotate: 0;
  }
  50% {
    transform: translateY(-40px);
    rotate:10deg;
  }
  100% {
    transform: translateY(0);
    rotate: 0;

  }
}

html {
  scroll-behavior: smooth;
}